<div class="toast-container position-fixed bottom-0 end-0 p-3">
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="toast show rounded" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="5000">
                <div class="toast-header text-white bg-{{ type }} border-0">
                    <span class="me-2 d-flex align-items-center">
                        {% if type == 'success' %}
                            {{ ux_icon('lucide:circle-check', { width: 18, height: 18 }) }}
                        {% elseif type == 'danger' %}
                            {{ ux_icon('lucide:triangle-alert', { width: 18, height: 18 }) }}
                        {% elseif type == 'warning' %}
                            {{ ux_icon('lucide:circle-alert', { width: 18, height: 18 }) }}
                        {% else %}
                            {{ ux_icon('lucide:info', { width: 18, height: 18 }) }}
                        {% endif %}
                    </span>
                    
                    <strong class="me-auto text-capitalize">
                        {% if type == 'danger' %}Erreur{% elseif type == 'success' %}Succès{% else %}Alert{% endif %}
                    </strong>
                    
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body text-white bg-{{ type }}">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
    {% endfor %}
</div>