<nav class="navbar navbar-expand navbar-light mb-5">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{{ asset('assets/images/icon/logo.svg') }}" alt="MySpace logo" height="50">
        </a>
        <div class="navbar-nav ms-auto">
            <ul class="navbar-nav align-items-center text-uppercase flex-row">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-flex align-items-center" href="#"
                       id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="rounded-circle overflow-hidden border border-2 border-white" style="width: 48px; height: 48px;">
                            {% if app.user.photo %}
                                <img src="{{ asset('assets/uploads/pictures/' ~ app.user.photo) }}" alt="Profil" class="w-100 h-100 object-fit-cover">
                            {% else %}
                                <img src="https://ui-avatars.com/api/?name={{ app.user.name }}&background=random" alt="Profil" class="w-100 h-100">
                            {% endif %}
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end shadow border-0" aria-labelledby="profileDropdown">
                        <li><h6 class="dropdown-header text-capitalize pe-5">{{ app.user.pseudo ?? (app.user.name ~ " " ~ app.user.firstname) }}</h6></li>
                        <li><hr class="dropdown-divider"></li>
                        {% if 'ROLE_ADMIN' in app.user.roles %}
                            <li>
                                <a class="dropdown-item d-flex align-items-center ps-3 py-2 pe-5 text-white" href="{{ path('app_dashboard_home') }}">
                                    {{ ux_icon('bi:speedometer2', {class: 'me-2', width: '20px', height: '20px'}) }} Dashboard
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <a class="dropdown-item d-flex align-items-center text-white ps-3 py-2 pe-5" href="{{ path('app_user_home') }}">
                                {{ ux_icon('heroicons:home', {class: 'me-2', width: '20px', height: '20px'}) }} Accueil
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center text-white ps-3 py-2 pe-5" href="{{ path('app_support_contact') }}">
                                {{ ux_icon('material-symbols:mail-outline', {class: 'me-2', width: '20px', height: '20px'}) }} Nous Contacter
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center text-white ps-3 py-2 pe-5" href="{{ path('app_report_create') }}">
                                {{ ux_icon('mdi-light:alert', {class: 'me-2', width: '20px', height: '20px'}) }} Signalement
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center ps-3 py-2 pe-5 text-white" href="{{ path('app_user_update', { id: app.user.id }) }}">
                                {{ ux_icon('bi:person-circle', {class: 'me-2', width: '20px', height: '20px'}) }} Mon Profil
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center text-danger ps-3 py-2 pe-5" href="{{ path('app_logout') }}">
                                {{ ux_icon('bi:box-arrow-right', {class: 'me-2', width: '20px', height: '20px'}) }} Déconnexion
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>