{% extends 'base.html.twig' %}

{% block title %}Inscription - {{ parent() }}{% endblock %}

{% block javascripts %}
	{{ importmap(['app', 'inputAnimation']) }}
{% endblock %}

{% block body %}
<div class="py-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10">

            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}

            <div class="text-center mb-4">
                <h1 class="text-uppercase fw-bold">Inscription</h1>
                <p class="text-white-50 small">
                    Créez votre compte en quelques secondes et débloquez des fonctionnalités exclusives !
                </p>
            </div>

            {% if form_errors(registrationForm) %}
                <div class="alert alert-danger">
                    {{ form_errors(registrationForm) }}
                </div>
            {% endif %}

            {{ form_start(registrationForm, {'attr': {'data-turbo': 'false'}}) }}

                <div class="row g-3">

                    <div class="col-12 col-sm-6 animate-in">
                        {{ form_row(registrationForm.name) }}
                    </div>
                    <div class="col-12 col-sm-6 animate-in">
                        {{ form_row(registrationForm.firstname) }}
                    </div>

                    <div class="col-12 col-sm-6 animate-in">
                        {{ form_row(registrationForm.pseudo) }}
                    </div>
                    <div class="col-12 col-sm-6 animate-in">
                        {{ form_row(registrationForm.birthdate) }}
                    </div>

                    <div class="col-12 animate-in">
                        {{ form_row(registrationForm.email) }}
                    </div>

                    <div class="col-12 col-sm-6 animate-in">
                        {{ form_row(registrationForm.plainPassword.first) }}
                    </div>
                    <div class="col-12 col-sm-6 animate-in">
                        {{ form_row(registrationForm.plainPassword.second) }}
                    </div>

                    <div class="col-12 animate-in">
                        {{ form_row(registrationForm.agreeTerms) }}
                    </div>

                    <div class="col-12 d-grid animate-in">
                        {{ form_row(registrationForm.submit) }}
                    </div>

                </div>

            {{ form_end(registrationForm) }}

            <p class="text-center text-white small mt-3">
                Déjà un compte ?
                <a href="{{ path('app_login') }}" class="text-white">Connexion</a>
            </p>

        </div>
    </div>
</div>
{% endblock %}