{% extends 'base.html.twig' %}

{% block title %}Inscription - {{ parent() }}{% endblock %}

{% block body %}
    <div class="card p-3 p-md-5">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}
        <div class="text-center">
            <h1 class="text-uppercase">Inscription</h1>
            <p> 
                Créez votre compte en quelques secondes et débloquez des fonctionnalités exclusives : creation de sesson etc
            </p>
        </div>
        {{ form_start(registrationForm, {'attr': {'class': 'py-3'}}) }}
        
        
        {% if form_errors(registrationForm) %}
            <div class="alert alert-danger">
                {{ form_errors(registrationForm) }}
            </div>
        {% endif %}

        <div class="row">
            
            <div class="col-12 col-md-6 mb-3">
                {{ form_row(registrationForm.name) }}
            </div>
            <div class="col-12 col-md-6 mb-3">
                {{ form_row(registrationForm.firstname) }}
            </div>
        </div>

        <div class="row">
            
            <div class="col-12 col-md-6 mb-3">
                {{ form_row(registrationForm.pseudo) }}
            </div>
            <div class="col-12 col-md-6 mb-3">
                {{ form_row(registrationForm.birthdate) }}
            </div>
        </div>

        <div class="mb-3">
            {{ form_row(registrationForm.email) }}
        </div>

    

        <div class="row">
            
            <div class="col-12 col-md-6 mb-3">
                {{ form_row(registrationForm.plainPassword.first) }}
            </div>
            <div class="col-12 col-md-6 mb-3">
                {{ form_row(registrationForm.plainPassword.second) }}
            </div>
        </div>

        <div class="mb-4 form-check text-sm">
            {{ form_row(registrationForm.agreeTerms) }}
        </div>

        <div class="d-grid gap-2">
            {{ form_row(registrationForm.submit) }}
        </div>
    {{ form_end(registrationForm) }}
   </div>
{% endblock %}
