{% extends 'base.html.twig' %}

{% block title %}Session -
	{{ session.name }}
{% endblock %}

{% block body %}
	<div>
		<twig:NavSession id="{{ session.id }}" allPage="{{ session.sessionPages }}"/>
	</div>
	<div class="row mt-4">
		<div class="col-12">
			<div class="list-group list-group-flush ">
				<h1 class="h3 mb-0 text-white">Gestionnaire de fichiers</h1>

				<div class="d-flex flex-column flex-md-row align-items-center justify-content-between border-bottom border-white gap-3 py-3 ">
					{% if folder.id is defined %}
						<a href="{{ path('app_session_manager', { id: session.id, folder: folder.parent.id ?? 0 }) }}" class="btn btn-outline-light btn-sm d-flex align-items-center justify-content-center" title="Retour">
							<twig:ux:icon name="bi:arrow-left" style="height:18px;width:18px;"/>
						</a>
					{% endif %}
					{% if is_granted('IS_EDITOR_SESSION', session) %}
						<div class="d-flex gap-2 w-100 w-md-auto justify-content-start">
							<button class="btn btn-outline-light btn-sm d-flex align-items-center gap-2" data-bs-toggle="modal" data-bs-target="#modalNewFolder">
								<twig:ux:icon name="bi:folder-plus" style="height:18px;width:18px;"/>
								<span class="d-sm-inline">Nouveau dossier</span>
							</button>

							<button class="btn btn-light btn-sm d-flex align-items-center gap-2" data-bs-toggle="modal" data-bs-target="#modalUploadFile">
								<twig:ux:icon name="bi:cloud-upload" style="height:18px;width:18px;"/>
								<span class="d-sm-inline">Ajouter un fichier</span>
							</button>
						</div>
					{% endif %}

					<div class="input-group input-group-sm w-100 w-sm-auto" style="min-width: 150px;">
						<span class="input-group-text bg-dark border-secondary text-white">
							{{ ux_icon('lucide:calendar') }}
						</span>
						<select class="form-select bg-dark border-secondary text-white shadow-none" onchange="location = this.value;">
							<option value="?filter=&folder={{ folder.id ?? 0 }}" {% if filter is null %} selected disabled {% endif %}>Trier par...</option>
							<option value="?filter=recent&folder={{ folder.id ?? 0   }}" {% if filter == 'recent' %} selected disabled {% endif %}>Plus récent</option>
							<option value="?filter=old&folder={{ folder.id ?? 0  }}" {% if filter == 'old' %} selected disabled {% endif %}>Plus ancien</option>
							<option value="?filter=A-Z&folder={{ folder.id ?? 0  }}" {% if filter == 'A-Z' %} selected disabled {% endif %}>Nom (A-Z)</option>
							<option value="?filter=Z-A&folder={{ folder.id  ?? 0 }}" {% if filter == 'Z-A' %} selected disabled {% endif %}>Nom (Z-A)</option>
						</select>
					</div>

					<form class="input-group input-group-sm flex-grow-1" id="search-form" method="get" action="{{ path('app_session_manager', { id: session.id }) }}">
						<button type="submit" class="input-group-text bg-dark border-secondary text-white">
							{{ ux_icon('lucide:search') }}
						</button>
						<input type="hidden" name="folder" value="{{ folder.id ?? 0 }}">

						<input value="{{ query }}" type="text" name="query" class="form-control bg-dark border-secondary text-white placeholder-white" placeholder="Rechercher une image..." aria-label="Recherche">
						{% if query %}
							<a href="{{ path('app_session_manager', { id: session.id, folder: folder.id ?? 0 }) }}" class="input-group-text bg-dark border-secondary text-white text-decoration-none">
								{{ ux_icon('lucide:x') }}
							</a>
						{% endif %}
					</form>

				</div>
				{% for node in arrNodes %}
					{% if node.type != 'folder' %}
						<div class="list-group-item list-group-item-action bg-transparent border-bottom border-secondary py-3 px-0">
							<div class="row align-items-center g-0 px-3">
								<div class="col-8 col-md-5 d-flex align-items-center">
									{% if node.type == 'js' %}
										{% set icon_name = 'ph:file-js' %}
									{% elseif node.type == 'php' %}
										{% set icon_name = 'vscode-icons:file-type-php' %}
									{% elseif node.type == 'html' %}
										{% set icon_name = 'streamline-ultimate:file-html' %}
									{% elseif node.type == 'css' %}
										{% set icon_name = 'hugeicons:css-file-02' %}
									{% elseif node.type == 'pdf' %}
										{% set icon_name = 'fa6-regular:file-pdf' %}
									{% else %}
										{% set icon_name = 'subway:file-13' %}
									{% endif %}
									<div class="avatar-sm me-3 flex-shrink-0">
										<twig:ux:icon name="{{ icon_name }}" class="text-white" style="height:28px;width:28px;"/>
									</div>
									<div class="flex-grow-1 overflow-hidden">
										<h6 class="font-size-14 mb-0 text-truncate text-white">
											{{ node.name ~'.'~ node.type }}
										</h6>
										<small class="text-white d-md-none">{{ (node.size / 1024 / 1024)|number_format(3) }}
											MB •
											{{ node.addAt|format_datetime('long', 'none', locale='fr') }}</small>
									</div>
								</div>

								<div class="col-md-2 d-none d-md-block">
									<span class="text-white small">{{ (node.size / 1024 / 1024)|number_format(3) }}
										MB</span>
								</div>

								<div class="col-md-2 d-none d-lg-block text-center">
									<span class="text-white small">{{ node.addAt|format_datetime('long', 'none', locale='fr') }}</span>
								</div>

								<div class="col-4 col-md-3 text-end">
									<div class="d-flex justify-content-end gap-2">
										{% if is_granted('IS_EDITOR_SESSION', session) %}
											<a href="{{ path('app_node_download', { id: node.id }) }}" class="btn btn-sm btn-soft-light text-white" title="Télécharger" download>
												<twig:ux:icon name="bi:cloud-download" style="height:18px;width:18px;"/>
											</a>
											<button type="button" class="btn btn-sm btn-soft-info text-info" data-bs-toggle="modal" data-bs-target="#renameModal{{ node.id }}" title="Renommer">
												<twig:ux:icon name="bi:pencil" style="height:18px;width:18px;"/>
											</button>
											<button type="button" class="btn btn-sm btn-soft-danger text-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ node.id }}" title="Supprimer">
												<twig:ux:icon name="bi:trash" style="height:18px;width:18px;"/>
											</button>
										{% endif %}
										<div class="modal fade" id="deleteModal{{ node.id }}" tabindex="-1" aria-hidden="true">
											<div class="modal-dialog modal-dialog-centered modal-sm">
												<div class="modal-content border-secondary text-dark">
													<form class="modal-body text-center p-4" action="{{ path('app_node_delete_file', { id: node.id })}}" method="post">
														<twig:ux:icon name="bi:exclamation-triangle" class="text-danger mb-3" style="height:48px;width:48px;"/>
														<h6>Supprimer le fichier ?</h6>
														<p class="text-muted font-size-13">Cette action est irréversible.</p>
														<input type="hidden" name="_token" value="{{ csrf_token('delete_node') }}">
														<div class="d-flex gap-2 justify-content-center mt-4">
															<button type="button" class="btn btn-light" data-bs-dismiss="modal">Annuler</button>
															<button type="submit" class="btn btn-danger">Confirmer</button>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="modal fade" id="renameModal{{ node.id }}" tabindex="-1" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered">
										<div class="modal-content border-secondary text-dark">
											<form class="modal-body p-4" action="{{ path('app_node_rename', { id: node.id }) }}" method="post">
												<div class="text-center mb-4">
													<h3 class="text-dark">Renommer l'élément</h3>
												</div>

												<div class="mb-3">
													<label for="newName{{ node.id }}" class="form-label">Nouveau nom</label>
													<input type="text" name="name" id="newName{{ node.id }}" class="form-control" value="{{ node.name }}" required>
												</div>

												<input type="hidden" name="_token" value="{{ csrf_token('rename_node') }}">

												<div class="d-flex gap-2 justify-content-center mt-4">
													<button type="button" class="btn btn-light" data-bs-dismiss="modal">Annuler</button>
													<button type="submit" class="btn btn-success text-white">Enregistrer</button>
												</div>
											</form>
										</div>
									</div>
								</div>

							</div>
						</div>
					{% else %}
						<div class="list-group-item list-group-item-action bg-transparent border-bottom border-secondary py-3 px-0">
							<div class="row align-items-center g-0 px-3">

								<div class="col-8 col-md-5 d-flex align-items-center">
									<div class="avatar-sm me-3 flex-shrink-0">
										<twig:ux:icon name="guidance:folder" class="text-white" style="height:28px;width:28px;"/>
									</div>
									<div class="flex-grow-1 overflow-hidden">
										<h6 class="font-size-14 mb-0 text-truncate">
											<a href="{{ path('app_session_manager', { id: session.id ,folder: node.id }) }}" class="text-white">{{ node.name }}</a>
										</h6>
										<small class="text-white d-md-none">
											----- •
											{{ node.addAt|format_datetime('long', 'none', locale='fr') }}</small>
									</div>
								</div>

								<div class="col-md-2 d-none d-md-block">
									<span class="text-white small">
										-------
									</span>
								</div>

								<div class="col-md-2 d-none d-lg-block text-center">
									<span class="text-white small">{{ node.addAt|format_datetime('long', 'none', locale='fr') }}</span>
								</div>

								<div class="col-4 col-md-3 text-end">
									<div class="d-flex justify-content-end gap-2">
										<button type="button" class="btn btn-sm btn-soft-info text-info" data-bs-toggle="modal" data-bs-target="#renameModal{{ node.id }}" title="Renommer">
											<twig:ux:icon name="bi:pencil" style="height:18px;width:18px;"/>
										</button>
										<button type="button" class="btn btn-sm btn-soft-danger text-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ node.id }}" title="Supprimer">
											<twig:ux:icon name="bi:trash" style="height:18px;width:18px;"/>
										</button>
										<div class="modal fade" id="deleteModal{{ node.id }}" tabindex="-1" aria-hidden="true">
											<div class="modal-dialog modal-dialog-centered modal-sm">
												<div class="modal-content border-secondary text-dark">
													<form class="modal-body text-center p-4" action="{{ path('app_node_delete_file', { id: node.id })}}" method="post">
														<twig:ux:icon name="bi:exclamation-triangle" class="text-danger mb-3" style="height:48px;width:48px;"/>
														<h6>Supprimer le fichier ?</h6>
														<p class="text-muted font-size-13">Les fichiers enfants seront supprimés avec le dossier !</p>
														<input type="hidden" name="_token" value="{{ csrf_token('delete_node') }}">
														<div class="d-flex gap-2 justify-content-center mt-4">
															<button type="button" class="btn btn-light" data-bs-dismiss="modal">Annuler</button>
															<button type="submit" class="btn btn-danger">Confirmer</button>
														</div>
													</form>
												</div>
											</div>
										</div>
										<div class="modal fade" id="renameModal{{ node.id }}" tabindex="-1" aria-hidden="true">
											<div class="modal-dialog modal-dialog-centered">
												<div class="modal-content border-secondary text-dark">
													<form class="modal-body p-4" action="{{ path('app_node_rename', { id: node.id }) }}" method="post">
														<div class="text-center text-dark mb-4">
															<h3 class="text-dark">Renommer l'élément</h3>
														</div>

														<div class="mb-3">
															<label for="newName{{ node.id }}" class="form-label">Nouveau nom</label>
															<input type="text" name="name" id="newName{{ node.id }}" class="form-control" value="{{ node.name }}" required>
														</div>

														<input type="hidden" name="_token" value="{{ csrf_token('rename_node') }}">

														<div class="d-flex gap-2 justify-content-center mt-4">
															<button type="button" class="btn btn-light" data-bs-dismiss="modal">Annuler</button>
															<button type="submit" class="btn btn-success text-white">Enregistrer</button>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endif %}
				{% else %}
					<div class="py-5 text-center">
						<p class="h5 text-white-50 ">Aucun élément trouver !</p>
					</div>
				{% endfor %}
			</div>


		</div>
	</div>
	<div class="modal fade" id="modalNewFolder" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<form class="modal-content border-secondary" action="{{ path('app_node_folder_create', { id: session.id }) }}" method="post">
				<div class="modal-header border-bottom border-secondary">
					<h5 class="modal-title">Créer un nouveau dossier</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="mb-3">
						<label class="form-label">Nom du dossier</label>
						<input type="text" name="name" class="form-control" placeholder="Ex: Projets 2026">
						<input type="hidden" name="_token" value="{{ csrf_token('create_folder') }}">
						<input type="hidden" name="parent_id" value="{{ folder.id ?? 0 }}">
					</div>
				</div>
				<div class="modal-footer border-top border-secondary">
					<button type="button" class="btn btn-link text-muted" data-bs-dismiss="modal">Annuler</button>
					<button type="submit" class="btn btn-primary">Créer le dossier</button>
				</div>
			</form>
		</div>
	</div>

	<div class="modal fade" id="modalUploadFile" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<form class="modal-content border-secondary" action="{{ path('app_node_upload', { id: session.id }) }}" method="post" enctype="multipart/form-data">
				<div class="modal-header border-bottom border-secondary">
					<h5 class="modal-title">Importer des fichiers</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="border-2 border-dashed border-secondary rounded-3 p-5 text-center">
						<twig:ux:icon name="bi:cloud-arrow-up" class="text-primary mb-3" style="height:48px;width:48px;"/>
						<h6>Glissez vos fichiers ici</h6>
						<p class="text-muted small">ou cliquez pour parcourir votre ordinateur</p>
						<div class="pb-3">
							<input type="file" name="file" class="form-control mt-3">
							<input type="hidden" value="{{ csrf_token('upload_node') }}" name="_token">
							<input type="hidden" name="parent_id" value="{{ folder.id ?? 0 }}">
						</div>
						{# <div>
							<label class="form-label">Nom de l'image</label>
							<input type="text" name="name" class="form-control" placeholder="Nom de l'image..." required>
						</div> #}
					</div>
				</div>
				<div class="modal-footer border-top border-secondary">
					<button type="button" class="btn btn-link text-muted" data-bs-dismiss="modal">Annuler</button>
					<button type="submit" class="btn btn-primary">Importer</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
