{% extends 'base.html.twig' %}

{% block title %}Connexion - {{ parent() }}{% endblock %}

{% block javascripts %}
    {{ importmap(['app', 'togglePassword']) }}
{% endblock %}

{% block body %}
<div class="py-5">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10">

            <div class="mb-5 text-center">
                <h1 class="text-uppercase fw-bold">Connexion</h1>
                <p class="text-white-50 small">Heureux de vous revoir !</p>
                <hr class="border-secondary opacity-25">
            </div>

            <form method="post" class="text-white">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security')|raw }}</div>
                {% endif %}

                <div class="mb-3">
                    <label for="inputEmail" class="form-label text-uppercase fw-semibold">Email</label>
                    <input type="email" value="{{ last_username }}" name="_username" id="inputEmail" class="form-control form-control-lg fs-6" autocomplete="email" required autofocus placeholder="nom@exemple.com" style="border-radius: 0.75rem;">
                </div>

                <div class="mb-3">
                    <label for="inputPassword" class="form-label text-uppercase fw-semibold">Mot de passe</label>
                    <div class="position-relative">
                        <input type="password" name="_password" id="inputPassword" class="form-control form-control-lg fs-6" autocomplete="current-password" required placeholder="••••••••" style="border-radius: 0.75rem; padding-right: 2.5rem;">
                        <img src="/assets/images/icon/hide.png" id="togglePassword" class="toggle-password">
                    </div>
                    <a href="{{ path('app_forgot_password_request') }}" class="small text-white-50 py-1 d-inline-block mt-1">Mot de passe oublié ?</a>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="btn btn-light btn-sm w-100 fw-bold py-2 mt-2" type="submit" style="border-radius: 0.75rem;">
                    Se connecter
                </button>

                <p class="text-center text-white-50 small mt-4 mb-0">
                    Pas de compte ?
                    <a href="{{ path('app_register') }}" class="fw-bold text-white text-decoration-none">Créer un profil</a>
                </p>
            </form>

        </div>
    </div>
</div>
{% endblock %}